@using Professional.Web.Helpers;

@model IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="panel panel-default">
    <img src="~/Images/professionals.jpg" class="center-block" />
</div>

<div class="row">
    <div class="col-md-2">
        @Html.Partial("~/Views/Shared/Partials/_HorizontalNavBar.cshtml", Model.FieldsListing)
    </div>

    <div class="col-md-6">
        @foreach (var post in Model.Posts)
        {
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <a class="media-left" href="#">
                            <img src="~/Images/news.png" style="width: 7em; height: auto;" />
                        </a>
                        <div class="media-body widden">
                            <h5 class="media-heading">@post.Title</h5>
                            @post.Content
                            <a href="@(WebConstants.PostPageRoute + post.ID)" class="btn btn-default set-bottom-right">Read more...</a>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div>
            <a href="#" class="btn btn-default pull-left">View More...</a>
        </div>
    </div>

    <div class="col-md-4 panel panel-default">
        <div class="panel-body">
            <h4>Featured Professionals</h4>
            <hr />
            @foreach (var pro in Model.Featured)
            {
                <div class="media">
                    <a class="media-left" href="~/UserArea/Public/Profile/@pro.ID">
                        <img src="~/Images/default-profile-pic.png" alt="News Image" class="center-block img-circle" style="width: 5em; height: auto;" />
                    </a>
                    <div class="media-body">
                        <h5 class="media-heading">@pro.FullName</h5>
                        @pro.Description
                    </div>
                </div>
            }
        </div>
    </div>
</div>
