@model PublicProfileViewModel

@{
    ViewBag.Title = "Public";
}

<div class="row">
    <div class="col-md-6 col-md-offset-1">
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_PersonalInfoView.cshtml", Model.UserInfo, new ViewDataDictionary { { "isPrivate", "false" } })
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ProfessionalInfoView.cshtml", Model.UserInfo, new ViewDataDictionary { { "isPrivate", "false" } })
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_EndorsementsView.cshtml", Model.UserInfo.Endorsements)        
    </div>
    <div class="col-md-5">
        @if (ViewBag.IsEndorsed != "true")
        {
            @Html.Partial("~/Views/Shared/Partials/_Endorsement.cshtml", Model.EndorseFunctionality)
        }  
        @Html.Partial("~/Views/Shared/Partials/_BtnNavigate.cshtml", Model.BtnNavigatePosts)
        @Html.Partial("~/Views/Shared/Partials/_BtnNavigate.cshtml", Model.BtnNavigateEndorsements)

        @Html.Partial("~/Views/Shared/Partials/_ListPanel.cshtml", Model.TopPostsList)
        @Html.Partial("~/Views/Shared/Partials/_ListPanel.cshtml", Model.RecentPostsList)
    </div>
</div>

@Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ChatView.cshtml", Model.ChatInfo)




