@using Professional.Web.Helpers
@using Professional.Web.Areas.UserArea.Models.Profile.Public

@model PublicProfileViewModel

@{
    ViewBag.Title = "Public Profile";
}

<div class="row">
    <div class="col-md-6 col-md-offset-1">
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_PersonalInfoView.cshtml", Model.UserInfo)
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ContactView.cshtml", Model.ContactInfo)
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_PublicProfessionalInfoView.cshtml", Model.UserInfo)
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_EndorsementsView.cshtml", Model.UserInfo.Endorsements)        
    </div>
    <div class="col-md-5">
        @if (Model.EndorseFunctionality != null)
        {
            @Html.Partial("~/Views/Shared/Partials/_Endorsement.cshtml", Model.EndorseFunctionality)
        }  
        @Html.Partial("~/Views/Shared/Partials/_BtnNavigate.cshtml", Model.BtnNavigatePosts)
        @Html.Partial("~/Views/Shared/Partials/_BtnNavigate.cshtml", Model.BtnNavigateEndorsements)

        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ListPanel.cshtml", Model.TopPostsList)
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ListPanel.cshtml", Model.RecentPostsList)
    </div>
</div>

@Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ChatView.cshtml")
@Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ConnectionView.cshtml", Model.ContactInfo)








