@using Professional.Web.Helpers
@model PublicProfileViewModel

@{
    ViewBag.Title = "Public";
}

<div class="row">
    <div class="col-md-6 col-md-offset-1">
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_PersonalInfoView.cshtml", Model.UserInfo, new ViewDataDictionary { { "isPrivate", "false" } })
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ContactView.cshtml", Model.ContactInfo)
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_PublicProfessionalInfoView.cshtml", Model.UserInfo)
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_EndorsementsView.cshtml", Model.UserInfo.Endorsements)        
    </div>
    <div class="col-md-5">
        @if (ViewBag.IsEndorsed != "true")
        {
            @Html.Partial("~/Views/Shared/Partials/_Endorsement.cshtml", Model.EndorseFunctionality)
        }  
        @Html.Partial("~/Views/Shared/Partials/_BtnNavigate.cshtml", Model.BtnNavigatePosts)
        @Html.Partial("~/Views/Shared/Partials/_BtnNavigate.cshtml", Model.BtnNavigateEndorsements)

        @Html.Partial("~/Views/Shared/Partials/_ListPanel.cshtml", Model.TopPostsList)
        @Html.Partial("~/Views/Shared/Partials/_ListPanel.cshtml", Model.RecentPostsList)
    </div>
</div>

@Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ChatView.cshtml")


<div class="modal fade" id="confirm-connection" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            @if (Model.ContactInfo.IsConnected && Model.ContactInfo.IsAccepted)
            {
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        You are already connected to @Model.UserInfo.FullName. Do you want to remove this connection?
                    </h4>
                </div>
                <div class="modal-footer text-center">
                    <a href="@(WebConstants.UpdateAcceptConnectionPageRoute + Model.ContactInfo)" class="btn btn-default">Yes</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            }
            else if (Model.ContactInfo.IsConnected && !Model.ContactInfo.IsAccepted)
            {
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">
                        Connection request to @Model.UserInfo.FullName<br />is pending. Do you want to decline it?
                    </h4>
                </div>
                <div class="modal-footer text-center">
                    <a href="@(WebConstants.UpdateDeclineUserPageRoute + @Model.UserInfo.ID)" class="btn btn-default">Yes</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            }
            else
            {
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">You want to connect to @Model.UserInfo.FullName?</h4>
                </div>
                <div class="modal-footer text-center">
                    <a href="@(WebConstants.UpdateConnectPageRoute + @Model.UserInfo.ID)" class="btn btn-default">Yes</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                </div>
            }

        </div>
    </div>
</div>






