@model ListPanelViewModel

@{
    var uniqueItems = "items" + Model.UniqueIdentificator;
    var uniqueForm = "form" + Model.UniqueIdentificator;
    var uniqueInput = "input" + Model.UniqueIdentificator;
}

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Title

        @using (Ajax.BeginForm("Filter", null,
            new AjaxOptions
            {
                UpdateTargetId = @uniqueItems,
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace
            }, new { id = @uniqueForm }))
        {
            <div class="dropdown pull-right">
                <button class="btn btn-xs btn-default dropdown-toggle positioned" type="button" id="dropdownFields" data-toggle="dropdown">
                    by field
                    <span id="holder" class="caret"></span>
                </button>
                <ul data-unique="@Model.UniqueIdentificator" class="dropdown-menu absoluted" role="menu" aria-labelledby="dropdownMenuTopPosts">
                    <li role="presentation"><a role="menuitem" class="filterLink" tabindex="-1" href="#">All</a></li>
                    @foreach (var field in Model.Fields)
                    {
                        <li role="presentation"><a role="menuitem" class="filterLink" tabindex="-1" href="#">@field.Name</a></li>
                    }
                </ul>
            </div>
            <input type="text" id="@uniqueInput" class="non-input" name="query" />
            <input type="text" class="non-input hidden-item" name="condition" value="@Model.UniqueIdentificator" />
        }
    </div>
    <div id="@uniqueItems" class="list-group list-group-margin">
        @Html.Partial("~/Views/Shared/Partials/_ListItems.cshtml", Model.Items)
    </div>
</div>


