@using Professional.Web.Areas.UserArea.Models.ListingViewModels

@model IEnumerable<EndorsementViewModel>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading">
            <span>
                Endorsements
            </span>
        </div>
        <div class="panel-body">
            @foreach (EndorsementViewModel item in Model)
            {
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id='@("heading" + item.ID)'>
                        <h4 class="panel-title panel-title-custom">
                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href='#@("collapse" + item.ID)' aria-expanded="false" aria-controls='@("collapse" + item.ID)'>
                                @item.EndorsingUserName
                            </a>
                        </h4>
                    </div>
                    <div id='@("collapse" + item.ID)' class="panel-collapse collapse" role="tabpanel" aria-labelledby='@("heading" + item.ID)'>
                        <div class="panel-body holder">
                            <div class="floater holder rating-small">
                                <span class="glyphicon glyphicon glyphicon-star small-star" aria-hidden="true"></span>
                                <div class="rating-value">@item.Value</div>
                            </div>
                            @item.Comment
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
