@using Professional.Web.Helpers;
@using Professional.Web.Areas.UserArea.Models.Listing

@model ListCollectionViewModel

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-wide">
                <span class="panel-heading-wide">
                    @Model.Title
                </span>
                <div class="dropdown filter pull-right">
                    @if (Model.GetBy != null)
                    {
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span> Filter</button>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                            <li role="presentation"><a role="menuitem" class="filtered-listing" tabindex="-1" data-href="@(ViewBag.Url + "All")" href='#'>All</a></li>
                            @foreach (var fieldName in Model.FieldsNames)
                            {
                                <li role="presentation"><a role="menuitem" class="filtered-listing" tabindex="-1" data-href="@(ViewBag.Url + fieldName)" href="#">@fieldName</a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
            <div class="list-group list-group-margin" id="list-elements">
                @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ListCollectionInner.cshtml", Model.Fields)
            </div>
            @if (ViewBag.Pages > 0)
            {
                <ul class="pagination pagination-sm pull-left">
                    <li><a href="@(Request.Url.AbsolutePath + "?page=" + @ViewBag.PreviousPage)">«</a></li>
                    @for (int i = 1; i <= ViewBag.Pages; i++)
                    {
                        if (i == ViewBag.CurrentPage)
                        {
                            <li class="active"><a href="@(Request.Url.AbsolutePath + "?page=" + @i)">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@(Request.Url.AbsolutePath + "?page=" + @i)">@i</a></li>
                        }
                    }
                    <li><a href="@(Request.Url.AbsolutePath + "?page=" + @ViewBag.NextPage)">»</a></li>
                </ul>
            }
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

