@using Professional.Web.Helpers;

@model ListCollectionViewModel

@{
    ViewBag.Title = "_ListCollection";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-wide">
                <span class="panel-heading-wide">
                    @Model.Title
                </span>
                <div class="dropdown filter pull-right">
                    @if (Model.GetBy != null)
                    {
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="caret"></span> Filter</button>
                        <ul class="dropdown-menu scrollable-menu" role="menu">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href='@(ViewBag.Url + "All")'>All</a></li>
                            @foreach (var fieldName in Model.FieldsNames)
                            {
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="@(ViewBag.Url + fieldName)">@fieldName</a></li>
                            }
                        </ul>
                    }
                </div>
            </div>
            <div class="list-group list-group-margin">      
                @if (Model.Fields.Count > 0)
                {
                    for (int i = 0; i < Model.Fields.Count; i++)
                    {
                        var field = Model.Fields[i];
                        <span class="list-group-item"><strong>@field.Name</strong></span>
                        for (int j = 0; j < field.Items.Count; j++)
                        {
                            var item = field.Items[j];
                            <a href="@item.Url" class="list-group-item">@item.Content</a>
                        }
                    }
                }
                else
                {
                    <span class="list-group-item">No items found.</span>
                }
            </div>
            @if (ViewBag.Pages > 0)
            {
                <ul class="pagination pagination-sm pull-left">
                    <li><a href="@(Request.Url.AbsolutePath + "?page=" + @ViewBag.PreviousPage)">«</a></li>
                    @for (int i = 1; i <= ViewBag.Pages; i++)
                    {
                        if (i == ViewBag.CurrentPage)
                        {
                            <li class="active"><a href="@(Request.Url.AbsolutePath + "?page=" + @i)">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@(Request.Url.AbsolutePath + "?page=" + @i)">@i</a></li>
                        }
                    }
                    <li><a href="@(Request.Url.AbsolutePath + "?page=" + @ViewBag.NextPage)">»</a></li>
                </ul>
            }
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

