@using Professional.Web.Helpers;

@model ListCollectionViewModel

@{
    ViewBag.Title = "_ListCollection";
}

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading panel-heading-wide">
                <span class="panel-heading-wide">
                    @Model.Title
                </span>
                <div class="dropdown pull-right">
                    @* Partial for dropdown *@
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownFields" data-toggle="dropdown">
                        by @Model.GetBy
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenuEndorsements">
                        @foreach (var fieldName in Model.FieldsNames)
                        {
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                   href="@(ViewBag.Url + fieldName)">@fieldName</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
            <div class="list-group list-group-margin">
                @for (int i = 0; i < Model.Fields.Count; i++)
                {
                    var field = Model.Fields[i];
                    <span class="list-group-item"><strong>@field.Name</strong></span>
                    for (int j = 0; j < field.Items.Count; j++)
                    {
                        var item = field.Items[j];
                        <a href="@item.Url" class="list-group-item">@item.Content</a>
                    }
                }
            </div>
            @if (ViewBag.Pages > 0)
            {
                <ul class="pagination pagination-sm pull-left">
                    <li><a href="@(Request.Url.AbsolutePath + "?page=" + @ViewBag.PreviousPage)">«</a></li>
                    @for (int i = 1; i <= ViewBag.Pages; i++)
                    {
                        if (i == ViewBag.CurrentPage)
                        {
                            <li class="active"><a href="@(Request.Url.AbsolutePath + "?page=" + @i)">@i</a></li>
                        }
                        else
                        {
                            <li><a href="@(Request.Url.AbsolutePath + "?page=" + @i)">@i</a></li>
                        }
                    }
                    <li><a href="@(Request.Url.AbsolutePath + "?page=" + @ViewBag.NextPage)">»</a></li>
                </ul>
            }
        </div>
    </div>
    <div class="col-md-1"></div>
</div>

