@using Professional.Web.Helpers

@model UserViewModel

<div class="panel panel-default">
    <div class="panel-heading">Personal Information</div>
    <div class="panel-body ">
        <div class="media holder ">
            <a class="media-left" href="#">
                <img src="@Model.ProfileImageUrl" alt="@Model.FullName" class="img-responsive img-rounded" style="width: 15em; height: auto;" />
            </a>
            <div class="media-body">
                <h5 class="media-heading">@Model.FullName</h5>
                <div>
                    <b>Gender</b>@Html.DisplayFor(m => m.IsMale)
                </div>
                <div>
                    <b>Date of birth </b>@Html.DisplayFor(m => m.DateOfBirth)
                </div>
                <div class="less-width wrapped">
                    <b>Personal history</b>
                    <br />
                    <span>@Model.PersonalHistory</span>
                </div>
                @if (@Model.IsPrivate)
                {
                    <a href="@(WebConstants.AddPersonalInfoPageRoute + "true")" class="btn btn-default set-bottom-right">Edit</a>
                }
            </div>
        </div>
    </div>
</div>
