@using Professional.Web.Areas.UserArea.Models.ListingViewModels

@model ShortListingViewModel

<div class="panel panel-default">
    <div class="panel-heading">
        @Model.Title

        @using (Ajax.BeginForm("Delete" + @Model.Type, null,
            new AjaxOptions
            {
                UpdateTargetId = @Model.ItemsId,
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace
            }, new { id = @Model.FormId }))
        {
            <input type="text" class="non-input hidden-item" name="query" id="@Model.InputId" />
            <input type="text" class="non-input hidden-item" name="title" value="@Model.Title" />
        }
    </div>
    <div id="@Model.ItemsId" class="short-listing">
        @Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ShortListPanel.cshtml", Model)
    </div>
</div>


