@model UpdatesViewModel

<ul class="nav nav-pills extreme updates">
    <li role="presentation" class="glif-updates chat dropdown">
        @if (Model.IsMessaged)
        {
            <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true" href="#">
                <span class="glyphicon glyphicon-envelope active-updates" aria-hidden="true"></span>
            </a>
            <ul class="dropdown-menu position-dropdown" role="menu" aria-labelledby="dropdownMenu1">
                @foreach (var item in Model.ActiveChats)
                {
                    <li role="presentation">
                        <a role="menuitem" class="chat-open small" tabindex="-1" href="#"
                            data-value="@item.FromUserId" data-discution-with="@item.FromUserName">
                            <span class="bold">@item.FromUserName: </span> @item.Preview
                        </a>
                    </li>
                }
            </ul>
        }
        else
        {
            <a href="#"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a>
        }
    </li>
    <li role="presentation" class="glif-updates">
        <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>
    </li>
    <li role="presentation" class="glif-updates">
        <a href="#"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span></a>
    </li>
</ul>

@Html.Partial("~/Areas/UserArea/Views/Shared/Partials/_ChatView.cshtml")
