@using Professional.Web.Areas.UserArea.Models.CreateItem;

@model PostInputModel

@{
    ViewBag.Title = "Post";
}

@using (Html.BeginForm("Post", "CreateItem", FormMethod.Post, new { @class = "form-horizontal custom", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <h4>Create a new post.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    
    @Html.EditorFor(m => m.Title, ViewData["label-classes"] ="col-md-1 control-label")
    
    <div class="form-group to-left">
        @Html.LabelFor(m => m.FieldName, "Field", new { @class = "col-md-1 control-label" })
        <div class="col-md-10">
            @Html.DropDownListFor(m => m.FieldName, new SelectList(ViewBag.Fields, "ID"), new { @class = "form-control bordered" })
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-md-10">
            @Html.EditorFor(m => m.Content)
        </div>
    </div>

    <div class="form-group to-left">
        <div class="col-md-offset-5 col-md-5">
            <input type="submit" class="btn btn-custom btn-block" value="Post" />
        </div>
    </div>
}


