@using Professional.Web.Areas.Admin.Models
@model FieldAdminModel

@using (Html.BeginForm("Edit", "Fields", FormMethod.Post,
    new { @class = "form-horizontal pop-up-edit", role = "form", id = "edit-admin" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.ID)
    <div class="form-group">
        @Html.LabelFor(m => m.Name, "Name", new { @class = "col-md-1 control-label" })
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control bordered" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.FieldInfo, "Field Information", new { @class = "col-md-1 control-label" })
        <div class="col-md-12">
            @Html.TextAreaFor(m => m.FieldInfo, new { @class = "form-control bordered" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Rank, "Rank", new { @class = "col-md-1 control-label" })
        <div class="col-md-12">
            @Html.TextBoxFor(m => m.Rank, new { type = "number", @class = "form-control bordered" })
        </div>
    </div>
    @*
    <input type="hidden" class="form-control bordered" name="id" value="@Model.ID" />
    <div class="form-group">
        <label for="name" class="control-label label-user-edit">Name</label>
        <div class="col-md-12">
            <input type="text" class="form-control bordered" id="name" name="name" value="@Model.Name" />
        </div>
    </div>
    <div class="form-group">
        <label for="info" class="control-label label-user-edit">Field Info</label>
        <div class="col-md-12">
            <input type="text" class="form-control bordered" id="info" name="info" value="@Model.FieldInfo" />
        </div>
    </div>
    <div class="form-group">
        <label for="rank" class="control-label label-user-edit">Rank</label>
        <div class="col-md-12">
            <input type="number" class="form-control bordered" id="rank" name="rank" value="@Model.Rank" />
        </div>
    </div>*@
}

