@using Professional.Web.Helpers
@using Professional.Web.Models.Post

@model PostViewModel
@{
    ViewBag.Title = "Post Information";
}

<div class="row clearfix">
    <div class="col-md-2"></div>
    <div class="col-md-8 column grayed unedged">
        <div class="page-header">
            <div class="rating">
                <div class="rate-number">@Model.Rating</div>
                <img src="~/Images/star.png" width="110" height="100"/>
            </div>
            <h1 class="lessened wrapped">
                @Model.Title
                <br />
                <small>created by <a href="@(WebConstants.PublicProfilePageRoute + Model.CreatorID)">@Model.Creator</a></small>
            </h1>
        </div>
        <div class="wrapped">
            @Html.Raw(Model.Content)
            @if (ViewBag.IsEndorsed != "true")
            {
                @Html.Partial("~/Views/Shared/Partials/_Endorsement.cshtml", Model.EndorseFunctionality)
            }            
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
