@model PublicProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<div class="row">
    <div class="col-md-6 col-md-offset-1">
        @Html.Partial("~/Areas/UserArea/Views/Shared/_PersonalInfoView.cshtml", Model.UserInfo, new ViewDataDictionary { { "isPrivate", "false" } })

        <div class="panel panel-default">
            <div class="panel-heading">Professional Information</div>
            <div class="panel-body">
                <h5 class="media-heading">Field</h5>
                More info...
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">User Endorsements</div>
            <div class="panel-body">
                <h5 class="media-heading">Field</h5>
                More info...
            </div>
        </div>
    </div>
    <div class="col-md-5">

        @Html.Partial("~/Views/Shared/Partials/_BtnNavigate.cshtml", Model.BtnNavigatePosts)
        @Html.Partial("~/Views/Shared/Partials/_BtnNavigate.cshtml", Model.BtnNavigateEndorsements)

        <div id="posts">
            @Html.Partial("~/Views/Shared/Partials/_ListPanel.cshtml", Model.TopPostsList)
        </div>

        <div id="posts">
            @Html.Partial("~/Views/Shared/Partials/_ListPanel.cshtml", Model.RecentPostsList)
        </div>
    </div>
</div>



